@font-face {
  font-family: 'Circular Book';
  src: url('/assets/fonts/CircularStd-Book.otf');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('/assets/fonts/CircularStd-Medium.otf');
}

@font-face {
  font-family: 'Austin Roman';
  src: url('/assets/fonts/Austin-Roman.otf');
}

@font-face {
  font-family: 'Austin Italic';
  src: url('/assets/fonts/Austin-Italic.otf');
}

@font-face {
  font-family: 'Nitti Light';
  src: url('/assets/fonts/nitti-light.woff');
}
