doctype html

html(lang= htmlWebpackPlugin.options.language)
  include includes/_head.pug
  body(bgcolor= htmlWebpackPlugin.options.bgcolor)
    main(role="main")
      #modal
      #root
      #pattern
    block scripts
    include includes/_filters.pug
